// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ranking {
  background-color: skyblue;
  text-align: center;
}
.matchgif {
  width:100%;
}