// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
  width: 60px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
}

.player-table {
  th {
    font-size: 16px;
  }

  .table th, td {
    text-align: center;
  }
}

.player-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

#field {
  img {
    width: 100%;
  }
  position: relative;
}

#bank {
  min-height: 100px;
  background: #406737;
  padding: 8px;
}

.player {
  display: inline-block;
  z-index: 9999;
  &.keeper {
    border: 2px solid red;
    //border-radius: 100px;
  }
}

.gdma {
  margin-top: -5px;
  color: white;
  font-size: 10px;
}
